<div class="table-responsive">
<table class='table table-striped'>
<thead>
<tr>
<th>User Name</th>
<th>Name</th>
<th>Age</th>
<th>Matrial Status</th>
<th>Gender</th>
<tr></thead>
<tbody>
<% @person_list["results"].each do |person| %>
	<tr>
		<td><%= person["username"] %></td>		
		<td><%= person["name"] %></td>
		<td><%= person["age"]%></td>
		<td><%= (person["is_married"] ? "Married" : "Single") %></td>
		<td><%= (person["gender"] == "M" ? "Male" : (person["gender"] == "F" ? "Female" : "Other"))%></td>
	</tr>
<% end %>
</tbody>
</table>
</div>