<div class="table-responsive">
<table class='table table-striped'>
	<thead>	
		<tr>
			<th>Date</th>
			<th>Position</th>
			<th>Size</th>
			<th>Bidder</th>
			<th>Event Type</th>
			<th>No of Records</th>
			<th>cpm Sum</th>
		<tr>
	<thead>
	<tbody id="report_data">
	<% @reports["results"].each do |report| %>
		<tr>
			<td><%= report["date"] %></td>		
			<td><%= report["position"] %></td>
			<td><%= report["size"]%></td>
			<td><%= report["bidder"]%></td>
			<td><%= report["event_type"] %></td>
			<td><%= report["num_records"] %></td>
			<td><%= report["cpm_sum"] %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<input type="hidden" id="page_no" value="1"/>
<input type="button" id="loadMore" value="Load More" />
</div>
