<%= link_to "Back", controller: "commons", action: "list"%> 
<table border=1>
<tr>
<td>Date</td>
<td>Position</td>
<td>Size</td>
<td>Bidder</td>
<td>Event Type</td>
<tr>
<tbody id="report_data">
<% @reports.parsed_response["results"].each do |report| %>
	<tr>
		<td><%= report["date"] %></td>		
		<td><%= report["position"] %></td>
		<td><%= report["size"]%></td>
		<td><%= report["bidder"]%></td>
		<td><%= report["event_type"] %></td>
	</tr>
<% end %>
</tbody>
</table>

<input type="hidden" id="page_no" value="1"/>
<input type="button" id="loadMore" value="Load More" />