<!DOCTYPE html>
<html>
<head>
  <title>MyApp</title>  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<%unless session[:user_token].blank?%>
	<%= link_to "Log Out", controller: "users", action: "logout"%> 
<%end%>

<% if flash[:notice] %>
  <div class="alert alert-info"><%= flash[:notice] %></div>
<% end %>
<%= yield %>
</div>
</body>
</html>
<input name="authenticity_token"  type="hidden" value="<%= form_authenticity_token %>"/>
